@{
    ViewBag.Title = "New password has been updated";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="content widecontent">
    <!-- BEGIN Confirm -->
    <h3 class="form-title">New password has been updated</h3>

    <div>
        Now you can go to @Html.ActionLink("Login", "Login")
    </div>
    <!-- END Confirm -->
</div>
