
@{
    ViewBag.Title = "New password has been updated";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="content widecontent">
    <!-- BEGIN Confirm -->
        <h3 class="form-title">Reset password request has been confirmed</h3>

        <div>
            You should receive a reset password email shortly
        </div>
    <!-- END Confirm -->
</div>
